.row
	%h1.col-md-12 Change this blog's title

= form_for :blog, url: user_blog_path(@user, @blog), method: :patch do |f|
	- if @blog.errors.any?
		#error_explanation
			%h2
				= pluralize(@blog.errors.count, "error")
					prohibited this from being saved
			%ul
				- @blog.errors.full_messages.each do |msg|
					%li= msg

	%p
		= f.label :title
		%br
		= f.text_field :title

	%p
		= f.submit

= link_to 'Nevermind', user_blog_path(@user, @blog)