!!!
.row
	%h1.col-md-2=@blog.title
	.col-md-8
	%h1.col-md-2
		%div= link_to 'New post', new_user_blog_post_path(@user.id, @blog.id)
		%div= link_to 'Back to all my blogs', user_path(@user.id)
- @posts.reverse.each do |post|
	.row.post-page-row
		.col-md-2
		.col-md-2.post-title= link_to post.title, user_blog_post_path(@user.id, @blog.id, post.id)
		.col-md-4.post-body= post.body
		/ %span.bottom_of_page_links= link_to 'Show', post_path(post)
		/ |
		.col-md-1= link_to 'Edit', edit_user_blog_post_path(@user.id, @blog.id, post.id)
		.col-md-1= link_to 'Delete', user_blog_post_path(@user.id, @blog.id, post.id), method: :delete, data: { confirm: "Are you sure?" }
		.col-md-2
	.row.post-page-spacer