.row
	.col-md-10
		%h1.user-page-header=@user.username
	/ .user-page-delete-link= link_to 'Delete this account', method: :destroy
	.col-md-2
		.row
			.user-logout-link= link_to 'Logout', logout_path, method: :delete
		- if logged_in? && @user == current_user
			.row.user-edit-link= link_to 'Change password', edit_user_path(@user)
			.row.user-delete-link= link_to 'Delete my account', user_path(@user), method: :delete, data: { confirm: "Are you sure?" }
		.row.user-link-to-users= link_to 'All users', users_path
.row
	%h2.col-md-12 Blogs:
- if @user.blogs.count > 0
	- @user.blogs.each do |blog|
		.row.user-page-row
			.col-md-4
			%h3.col-md-4.blog-link= link_to blog.title, user_blog_path(@user, blog)
			- if logged_in? && @user == current_user
				.col-md-4
					.row
						%h4= link_to 'Delete', user_blog_path(@user, blog), method: :delete, data: { confirm: "Are you sure? " }
					.row
						%h4= link_to "Change title", edit_user_blog_path(@user, blog)
- else
	%h3 No blogs? Make one!
- if logged_in? && @user == current_user
	.user-create-blog-link= link_to 'Create a blog', new_user_blog_path(@user)