!!!
%h1 Editing this Post

= form_for :post, url: user_blog_post_path(@user.id, @blog.id, @post.id), method: :patch do |f|
	- if @post.errors.any?
		#error_explanation
			%h2
				= pluralize(@post.errors.count, "error")
				prohibited this from being saved
			%ul
				- @post.errors.full_messages.each do |msg|
					%li= msg

	%p
		= f.label :title
		%br
		= f.text_field :title

	%p
		= f.label :body
		%br
		= f.text_area :body

	%p
		= f.submit

= link_to 'Back to the blog', user_blog_posts_path(@user.id, @blog.id, @post.id)