!!!
%h1 Ryan's Blog
%span.post_something_link= link_to 'Post Something', new_post_path
- @posts.reverse.each do |post|
	%div
		.post_title= link_to post.title, post_path(post)
		.post_body= post.body
		/ %span.bottom_of_page_links= link_to 'Show', post_path(post)
		/ |
		%span.bottom_of_page_links= link_to 'Edit', edit_post_path(post)
		|
		%span.bottom_of_page_links= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" }