!!!
%h2 Title:
%p= @post.title
%h3 Body:
%p= @post.body

/ I wanted to use a partial but rails said no
/ = render @post.comments

%h3 Comments
-@post.comments.each do |comment|
	%p.comment
		%span.commenter= comment.commenter
		says
		%blockquote.comment_body= comment.body
		%div.comment_delete_link= link_to 'Delete Comment', [comment.post.blog.user, comment.post.blog, comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }

- if logged_in?
	%h2 Add a comment:
	/ = render 'comments/form'
	= form_for :comment, url: user_blog_post_comments_path(@user, @blog, @post) do |f|
		/ @post.comments.build
		%p
			= f.label :commenter
			%br
			= f.text_field :commenter
		%p
			= f.label :body
			%br
			= f.text_area :body
		%p
			=f.submit
- else
	%h3= link_to, '*you must be logged in to comment*', login_path
%span= link_to 'Edit this post', edit_user_blog_post_path(@user, @blog, @post)
|
%span= link_to 'Back to the blog', user_blog_path(@user, @blog)
|
%span= link_to 'Delete', user_blog_post_path(@user, @blog, @post), method: :delete, data: { confirm: "Are you sure?" }